@import "normalize.scss";

body {
   font-family: 'Sriracha', cursive;
   font-size: 25px;
   min-height: 100vh;
   background: url(/img/bg.jpg) no-repeat center center fixed;
   background-size: cover;
}

.container {
   max-width: 1024px;
   margin: 0 auto;
   padding: 0px 10px;
   padding-top: 100px;
}

.todo {

      &__wrapper{
         max-width: 700px;
         margin: 0px auto;
         padding: 50px 0px 20px 0px;
      }

		&__title {
         font-size: 38px;
         text-align: center;
		}

		&__body {
         margin: 0px 25px;
		}
}

.todo-work {
   height: 40px;
   display: flex;
   margin: 30px 25px;
   border: 1px solid #688BCB;

		&__input {
         height: 100%;
         width: 100%;
         font-size: 30px;
         padding: 7px;
         &:focus::placeholder {
            color: transparent;
          }
		}

		&__add-but {
         background-color: #fff;
         & img {
            width: 40px;
            height: 100%;
            cursor: pointer;
            &:hover{
               background-color: #A7BFEC;
               transition: 0.5s ease;
            }
         }
      }
      
      &__selector{
         font-size: 16px;
         font-family: inherit;
         &:hover{
            background-color: #A7BFEC;
            transition: 0.5s ease;
         }
      }
}

.todo-list {
   display: flex;
   flex-direction: column;
		&__item {
         display: flex;
         margin-bottom: 10px;
         align-items: center;
         border-radius: 15px;
         user-select: none;  
         justify-content: space-between;
         opacity: 0.85;
         &:hover{
            background-color: #B8D1FF;
            transition: 0.5s ease;
         }
         &--non-selected{
            display: none;
         }
		}

		&__text {
         padding: 7px;
         word-break: break-all;
         &--completed{
            text-decoration: line-through;
            opacity: .4;
         }
		}

		&__del-but {
         background-color: transparent;
         height: 100%;
         padding: 4px;
         border-radius: 15px;
         &:hover{
            background-color: #A7BFEC;
            transition: 0.5s ease;
         }
         & img{
            width: 40px;
            height: 100%;
            cursor: pointer;
            display: block;
            pointer-events:none;
         }
		}
}
